# Code Owners for the kb-deduction-notices-api repo.

# [Github Docs](https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners)

# Global Owners - these will be added whenever a PR is raised for any content in this repo.

* @BenAtKiwibank @mfouri01 @Thanjeedth @lfxjtu-kb @sdedik01 @nadeeshaan-kbnz
