<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="kb-domain" value="https://kb-domain-853871969080.d.codeartifact.ap-southeast-2.amazonaws.com/nuget/kb-repo/v3/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <kb-domain>
            <add key="Username" value="aws" />
            <add key="ClearTextPassword" value="%CODEARTIFACT_AUTH_TOKEN%" />
        </kb-domain>
    </packageSourceCredentials>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="kb-domain">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>