PATH="$PATH:$HOME/vm-personal-provisioning/utils"
PATH="$PATH:$HOME/.dotnet/tools"

export PROVISIONING_DIR=$HOME/vm-personal-provisioning
export REPOS=$HOME/Repos

for file in "$HOME/vm-personal-provisioning/utils"/*.sh; do
    [ -r "$file" ] && source "$file"
done

export EDITOR=vim
