PATH="$PATH:$HOME/vm-personal-provisioning/utils"
PATH="$PATH:$HOME/.dotnet/tools"

export PROVISIONING_DIR=$HOME/vm-personal-provisioning
export REPOS=$HOME/Repos

for file in "$HOME/vm-personal-provisioning/utils"/*.sh; do
    [ -r "$file" ] && source "$file"
done

export EDITOR=vim

# Configure AWS CLI to use Windows browser when running in WSL
if grep -qi microsoft /proc/version 2>/dev/null; then
    export AWS_BROWSER=wslview
fi
